<footer class="footer">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-sm-1 text-right">
                <a href="https://github.com/dash00p/aerie" target="_blank"><i class="fab fa-github fa-lg"></i></a>
            </div>
        </div>
    </div>
</footer>