<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/favicon.ico">
  <title><%= locals.title %></title>

  <!-- CSS (load bootstrap from a CDN) -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">


  <link rel='stylesheet' href='/stylesheets/style.css' />
  <% /* Place any styles in the page in this section. */ %>
  <%- defineContent('style') %>
</head>

<body ng-app="aerie" <% if(typeof cookies.nightmode !== 'undefined'){ %>class="nightmode" <% } %>>
  <div id="wrapper">
    <% include ../partials/sidebar %>
    <!-- Begin page content -->
    <div id="page-content-wrapper">
      <div role="main" class="container">
        <%- body %>

      </div>
    </div>
  </div>
  <div id="toast-wrapper">
  </div>
  <% include ../partials/footer %>
  <!-- TEMPLATES -->
  <div id="toast-template" class="toast fade" role="alert" aria-live="assertive" aria-atomic="true" data-delay="300000">
    <div class="toast-header">
      <strong class="mr-auto toast-title">Dummy title</strong>
      <!-- <small class="text-muted">11 mins ago</small> -->
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      Dummy text
    </div>
  </div>
  <% /* Place any scripts contained in views at the end of the page. */ %>
  <!-- JS -->
  <script>
    var app;
  </script>
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->
  <script src="/javascripts/bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="/javascripts/utils.js"></script>
  <%- defineContent('script') %>
</body>

</html>