<h1>
    EVENTS
</h1>
<section ng-controller="eventCtrl as eVm">
    <div ui-calendar="eVm.uiConfig.calendar" ng-model="eVm.eventSources"></div>
</section>
<%- contentFor('script') %>
<script src="/javascripts/events.js"></script>