<h1>
  <!-- <%= title %> -->WIP
</h1>
<h3>Bienvenue sur Aerie, la boîte à outils du rôliste</h3>
<p>
  Pensez à vous inscrire pour accéder à plus de fonctionnalités. <br>Si vous avez des suggestions à proposer (cool) ou repéré un bug (moins cool), venez faire un tour sur <a href="https://discord.gg/rV3Fk4d" target="_blank">le serveur Discord d'Aerie</a> ! 
  <br>C'est encore un peu le bordel, faîtes pas attention. 
</p>
<% if (message.length > 0) { %>
  <div class="alert alert-danger"><%= message %></div>
<% } %>