.nightmode{
    background-color: #323232;
    &, .table, footer.footer{
        color: #eee;
    }
    
    .form-control{
        &,&:focus{
            background-color: #262626;
            color: #979797;
            border-color: #383838;
        }
    }

    .table{
        &.table-hover tbody tr:hover{
            color:#fff;
        }
        td, th{
            border-top-color: #1a1a1a;
        }

        thead th{
            border-bottom-color: #252525;
        }
    }

    .footer, .modal-content{
        background-color: #232323;
        border-color: rgba(255, 255, 255, 0.2);
    }

    .modal-header{
        border-bottom-color: #1a1a1a;
    }

    .modal-footer{
        border-top-color: #1a1a1a;
    }

    .close,
    .close:not(:disabled):not(.disabled):focus,
    .close:not(:disabled):not(.disabled):hover{
        color: #fff;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
    }

    .shadow{
        box-shadow:0 0.5rem 1rem rgba(255, 255, 255, 0.04)!important;
    }
    
    .fc-unthemed td.fc-today{
        background:#5f5f5f;
    }

    .fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead{
        border-color: #4b4b4b;
    }

    .toast, .jumbotron, .card{
        background-color: rgba(7, 9, 9, 0.85);
        border-top-color: rgba(71, 71, 71, 0.1);
        border-right-color: rgba(71, 71, 71, 0.1);
        border-bottom-color: rgba(71, 71, 71, 0.1);
        border-left-color: rgba(71, 71, 71, 0.1);
        box-shadow: rgba(0, 0, 0, 0.5) 0px 0.25rem 1rem;
    }

    .toast{       
        .toast-header{
            color: rgb(142, 139, 133);
            background-color: rgba(7, 9, 9, 0.85);
            border-bottom-color: rgba(71, 71, 71, 0.05);
        }
    }

    hr{
        border-top-color: rgba(255,255,255,.1);
    }
}