@import "sidebar", "utilities", "nightmode", "switch", "mixin", "typography", "components";

body{
    /* Margin bottom by footer height */
    margin-bottom: 61px;
  & > footer.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px; /* Vertically center the text there */
    background-color: #f5f5f5;
    color: #212529;
  }
}

a{
  &:not(.utility, .btn){
    color: #2196f3;
  }
  transition: 0.3s ease color;
}

li:hover {
  a.utility{
    background: none!important;
    color: #fff!important;
  }
}

#menu-toggle{
  z-index: 99;
}

#toast-wrapper{
  position: absolute;
  top: 5px;
  right: 5px;
  width:100%;
  max-width: 250px;
}

.form-group label::first-letter{
  text-transform: capitalize;
}